<%= render 'shared/navbar' %>

<div class="reservation container pt-5" >

  <h1 class="titre pt-5 pb-5">Mes demandes de réservation</h1>

  <% @reservations.each do |reservation| %>
    <div class="card-reservation pt-5">
      <%= cl_image_tag reservation.user.photo.key, class:'avatar-reservation'%>
      <ul>
        <li>Nom :<strong> <%= reservation.pet.name %> </strong></li>
        <li>Debut de la reservation : <%= reservation.start_date %> </li>
        <li>Fin de la reservation :  <%= reservation.end_date %> </li>
        <div class= "price">
        <li>Prix Total <%= reservation.total_price %> €</li>
        </div>
        <li>Statut : <%= reservation.status %> </li>
      <%= link_to "Accepter", accept_owner_reservation_path(reservation), method: :patch, class:"btn btn-success accept" %>
      <%= link_to "Decliner", decline_owner_reservation_path(reservation), method: :patch, class:"btn btn-danger decline" %>
      </ul>
    </div>
  <% end %>
</div>

