<%= render 'shared/navbar' %>
    <!-- integration flash alerts devise -->
<%= render 'shared/flashes' %>

<div class="container">

  <h1 class="index-title pt-5">Voici la liste de vos mascottes</h1>

  <div class="cards">
    <% @mypets.each do |pet| %>
      <%= link_to pet_path(pet), class: 'no-deco' do %>
        <div class="card">
          <%= cl_image_tag(pet.photo.key) %>

          <div class="card-infos">
            <h2 class="pt-3 pet_name"> <%= pet.name %></h2>
            <h2 class="card-pricing pet_price"><strong> <%= pet.price_per_day %></strong>€/ jour</h2>
<!--             <h2 class="card-trip-pricing pet_price"><%= pet.user.username %></h2>
 -->            <%= cl_image_tag pet.user.photo.key, class: 'card-user avatar-bordered' %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
