<%= render 'shared/navbar' %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="mt-5">Ajoute une nouvelle mascotte :</h1>
      <%= simple_form_for([:owner, @pet], remote: true) do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :species %>
        <%= f.input :description %>
        <%= f.input :price_per_day %>
        <%= f.input :photo, as: :file %>
        <%= f.submit "Ajouter cette mascotte", class: "btn btn-primary" %>
      <% end %>


    </div>
  </div>
</div>


