<div>
<%= render 'shared/navbar' %>

</div>    <!-- integration flash alerts devise -->
<%= render 'shared/flashes' %>


    <!-- integration flash alerts devise -->

<div class="container pt-5">
  <div class="place">
    <h1 class="titre pt-3">Voici toutes vos locations </h1>

      <% @reservations.each do |reservation| %>
        <div class="container">

          <div class="container pt-3">
            <div class="card-reservation">
              <div class="col-4">
                <%= cl_image_tag(reservation.pet.photo.key) %>
              </div>
              <div class="col-8 ">
                <div>
                  <h4> <strong><%= reservation.pet.name %></strong> </h4>
                </div>
                <div>
                  <h6>Du  <%= reservation.start_date %> au <%= reservation.end_date %> </h6>
                </div>
                <div>
                  <h8>Statut : <%= reservation.status %> </h8>
                </div>
                <div class="price">
                  <h7>Prix Total <strong><%= reservation.total_price %> €</strong></h7>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>
